h1 {
    color: red;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    text-align: center;
}

div#gifs-div {
    margin: 20px;
}

div#input-div {
    /* padding: 50px; */
    float: right;
}

div#button-div {
    margin: 20px;
}

.gif-buttons {
    background: lightblue;
    padding: 10px;
    border-radius: 10px 10px 10px 1px;
}